<div id="mainNav" class="wrapper-main-nav">
    <i class="nav-bg top"></i>
    <i class="nav-bg middle"></i>
    <i class="nav-bg bottom"></i>

    <nav class="main-nav">
        <ul class="main-nav-list">
            <li class="main-nav-item">
                <a class="main-nav-link" href="/login">
                    LOGIN
                </a>
            </li>

            <li class="main-nav-item">
                <a class="main-nav-link" href="/crud">
                    CRUD
                </a>
            </li>

            <li class="main-nav-item">
                <a class="main-nav-link" href="/parser">
                    PARSER
                </a>
            </li>

            <li class="main-nav-item">
                <a class="main-nav-link" href="/first-project">
                    FIRST
                </a>
            </li>

            <li class="main-nav-item">
                <a class="main-nav-link" href="/about">
                    ABOUT
                </a>
            </li>
        </ul>
    </nav>
</div>