<section>
    <footer class="footer-section">
        <div class="footer-title">FIND ME</div>
        <div class="social-media-section">
            <div class="background-linkedin">
                <a class="linkedin" href="https://www.linkedin.com/in/nicolaszuccarello/">Linkedin
                </a>
            </div>
            <p> / </p>
            <div class="background-github">
                <a class="github" href="https://github.com/nicolaszucca">Github
                </a>
            </div>
        </div>
    </footer>
</section>