<header>
    <div class="logo">
        <a href="/"><img class="img-logo" src="./resources/test-images/logo1.png" alt="Nicolas Zuccarello">
        </a>
    </div>

    <button id="triggerMenu" class="burger trigger-menu">
        <div class="burger-inner">
            <span class="burger-inner-line"></span>
            <span class="burger-inner-line"></span>
            <span class="burger-inner-line"></span>
        </div>
    </button>
</header>