<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e6989afcf9.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100&family=Work+Sans&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../resources/styles/about-style.css">
    <title>About Nicolas Zuccarello</title>
</head>

<body>

    <!-- header section -->

    {{>header}}

    <!-- menu section -->
    {{>backgroundMenu}}

    <!-- about me section -->

    <section>
        <div class="about-container-block">

            <div class="about-me-container">
                <div class="sub-header-hello">HELLO THERE</div>
                <h1 class="about-title">My Name is Nicolas Zuccarello. <br> I programming things.</h1>
                <p class="paragraph">I'm a programmer with a great passion for technology,
                    specifically web and desktop applications. My experience ranges
                    from Font-End Development, and Back-End Development<br> <br>

                    As a programmer, I believe that the solution is to create an experience that meets the needs of the
                    user, both visually
                    and in terms of user experience. I am passionate about an organized workflow, meeting new people,
                    learning new things,
                    and solving problems.
                    <br> <br>
                </p>
            </div>
            <div class="contact-me-container">
                <div class="sub-header-contact">GET IN TOUCH</div>
                <P class="paragraph-2">
                <div class="background-email">
                    <a href="mailto:zuccarelo1@gmail.com?" class="link-to-mail">zuccarelo1@gmail.com</a>
                </div>
                <div id="btn"><a class="noselect">CV</a>
                    <div id="circle"></div>
                </div>
                </P>
            </div>
        </div>
    </section>

    <!-- footer-section -->
    {{>footer}}




    <script src="../resources/js/animation-menu.js"></script>
</body>

</html>