<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e6989afcf9.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100&family=Work+Sans&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./resources/styles/index-style.css">
    <title>Nicolas Zuccarello | Portfolio</title>
</head>

<body>

    <!-- header section -->
    {{>header}}

    <!-- menu section -->
    {{>backgroundMenu}}

    <!-- image section -->

    <section>
        <div class="imgs-container">

            <div id="login-img-block" class="img-block"></div>
            <div id="crud-img-block" class="img-block"></div>
            <div id="scrapper-img-block" class="img-block"></div>
            <div id="first-img-block" class="img-block"></div>

        </div>
    </section>

    <!-- Hero section -->
    <section>
        <div class="hero-container">
            <div class="hero-left">
                <div class="intro">INTRO</div>
                <h2>
                    Hi, I'm Nicolas Zuccarello, full stack developer from Argentina
                </h2>
                <div class="data-container-about">
                    <div class="arrow">> </div>

                    <div class="about-me-paragraph">
                        <a href="/about" class="about-me-a">About me.</a>
                    </div>
                </div>

                <div class="social-media-section">
                    <div class="social-media-elsewere">ELSEWHERE</div>
                    <div>
                        <a class="linkedin" href="https://www.linkedin.com/in/nicolaszuccarello/">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>

                        <a class="github" href="https://github.com/nicolaszucca">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="hero-right">
                <div class="work">WORK</div>
                <div class="hero-right-nav-proyects">
                    <a href="/login">
                        <h1 id="login-proyect" class="works-titles">Login</h1>
                    </a>

                    <a href="/crud">
                        <h1 id="crud-proyect" class="works-titles">Crud</h1>
                    </a>

                    <a href="/scrapper">
                        <h1 id="scrapper-proyect" class="works-titles">Scrapper</h1>
                    </a>

                    <a href="/first">
                        <h1 id="first-proyect" class="works-titles">First</h1>
                    </a>

                    <a href="/misc">
                        <h1 id="misc" class="works-titles">Misc</h1>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <script src="./resources/js/animation-menu.js"></script>
    <script src="./resources/js/imgs-bakground.js"></script>
</body>

</html>