<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e6989afcf9.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100&family=Work+Sans&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../resources/styles/project-styles.css">
    <link rel="stylesheet" href="../resources/styles/login-image-style.css">
    <title>Login</title>
</head>

<body>

    <!-- header section -->

    <header>
        <div class="logo">
            <a href="index.html"><img class="img-logo" src="../resources/test-images/logo1.png"
                    alt="Nicolas Zuccarello"></a>

        </div>

        <button id="triggerMenu" class="burger trigger-menu">
            <div class="burger-inner">
                <span class="burger-inner-line"></span>
                <span class="burger-inner-line"></span>
                <span class="burger-inner-line"></span>
            </div>
        </button>
    </header>

    <div id="mainNav" class="wrapper-main-nav">
        <i class="nav-bg top"></i>
        <i class="nav-bg middle"></i>
        <i class="nav-bg bottom"></i>

        <nav class="main-nav">
            <ul class="main-nav-list">
                <li class="main-nav-item">
                    <a class="main-nav-link" href="">
                        INICIO
                    </a>
                </li>

                <li class="main-nav-item">
                    <a class="main-nav-link" href="">
                        ACERCA
                    </a>
                </li>

                <li class="main-nav-item">
                    <a class="main-nav-link" href="">
                        TRABAJOS
                    </a>
                </li>

                <li class="main-nav-item">
                    <a class="main-nav-link" href="">
                        MI CUENTA
                    </a>
                </li>

                <li class="main-nav-item">
                    <a class="main-nav-link" href="">
                        CONTACTO
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- about project (login) -->

    <section>
        <div class="img-background"></div>
        <div class="view-container-project">
            <div class="project-title">
                <h1>Login</h1>
                <div class="separator"></div>
                <p class="description-proyect">I practice my knowledge in node, designing
                    backend with security and authorization using express-session</p>
            </div>
        </div>

        <article>
            <div class="container-info-block">
                <div class="container-description">
                    <h2 class="title-description">Description</h2>
                    <p class="paragraph-description">My main goal was to create a robust back-end API that was secure
                        and required authentication to practice and hone my
                        skills. <br> I used Nodejs with express for the server side. Express-validator for the
                        middlewares and Express-session for the session data. I learned to use many libraries and
                        concepts in this project, ejs for example.
                        This library allowed rendering the views and using logic within them to receive the data and
                        thus greatly facilitate the
                        work.
                    </p>
                    <div class="data-container-about">
                        <div class="arrow">> </div>

                        <div class="about-me-paragraph">
                            <a href="link" class="about-me-a">See live site</a>
                        </div>
                    </div>
                    <div class="data-container-about">
                        <div class="arrow">> </div>

                        <div class="about-me-paragraph">
                            <a href="link to project" class="about-me-a">Check code</a>
                        </div>
                    </div>
                </div>

                <div class="container-tec-used">
                    <div class="tecnology-used">TECNOLOGY USED</div>
                    <div class="steps-block">
                        <div class="step-number">01</div>
                        <div class="step-process">Node.js</div>
                    </div>
                    <div class="steps-block">
                        <div class="step-number">02</div>
                        <div class="step-process">Javascript</div>
                    </div>
                    <div class="steps-block">
                        <div class="step-number">03</div>
                        <div class="step-process">Express-session</div>
                    </div>
                    <div class="steps-block">
                        <div class="step-number">04</div>
                        <div class="step-process">Ejs</div>
                    </div>
                    <div class="steps-block">
                        <div class="step-number">05</div>
                        <div class="step-process">Json web token</div>
                    </div>
                </div>
            </div>
    </section>

    <!-- footer-section -->
    <section>
        <footer class="footer-section">
            <div class="footer-title">FIND ME</div>
            <div class="social-media-section">
                <div class="background-linkedin">
                    <a class="linkedin" href="https://www.linkedin.com/in/nicolaszuccarello/">Linkedin
                    </a>
                </div>
                <p> / </p>
                <div class="background-github">
                    <a class="github" href="https://github.com/nicolaszucca">Github
                    </a>
                </div>
            </div>
        </footer>
    </section>




    <script src="../resources/js/animation-menu.js"></script>
</body>

</html>